arrow
celery
cryptography
faker
flower
paho-mqtt
pandas
paramiko
pyrabbit2
pytest
pytest-xdist
pyyaml
requests
selenium
tornado
tornado_sqlalchemy
websocket-client
faker
deepdiff
tinydb
interruptingcow
interruptingboar
git+ssh://git@github.com/relayr/pdm-qa-libs.git@master#egg=qalibs
git+ssh://git@github.com/relayr/pdm-qa-rpo.git#egg=rpo
